
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.c9/
.classpath
.claude
.DS_Store
.gemini
.nx/cache
.nx/workspace-data
.project
.settings/
.vscode/*
*.launch
*.sublime-workspace
/.idea
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
# compiled output
# dependencies
# IDE - VSCode
# IDEs and editors
# misc
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# System Files
CLAUDE.md
dist
GEMINI.md
node_modules
npm-debug.log
out-tsc
testem.log
Thumbs.db
tmp
tmp/
yarn-error.log

# Environment variables
.env

.nx/polygraph
.nx/self-healing
.nx/migrate-runs